body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e09763, #d69363);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(20, 20, 20, 0.4);
  padding: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-nav li {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
  transition: background 0.3s ease;
  font-weight: 800;
  text-align: center;
  flex: 1;
  position: relative;
}

.navbar a:hover {
  background: #4a3305;
  color: #ffffff;
}

.navbar a.active {
  text-decoration: underline;
  color: #ffffff; /* Optional: Change the color of the active link */
}

main {
  padding-top: 80px;
}
