@tailwind base;
@tailwind components;
@tailwind utilities;

.active::after {
  content: '';
  position: absolute;
  width: calc(100% - 60px);
  height: 2px;
  bottom: -5px;
  left: 30px;
  background-color: #000000;
  color:#ffffff;
}

.navbar a:hover::after {
  width: 50%;
  left: 25%;
  text-decoration: underline;
  
  
}


